/**
 * Homepage styles
 */

.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  background-color: transparent;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
